/*HUSK Å MELDE FRA OM ENDRINGER HER!!*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.page {
  padding: 15px;
}


#filter-container {
  padding-bottom: 20px;
}

.dropdown {
  width: 100%;
}

.dropdown-btn {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  background-color: white;
  text-align: left;
}

#dropdown-btn-content {
  display: flex;
  justify-content: space-between;
}

#dropdown-btn-text {
  font-weight: bold;
  font-size: 20px;
  align-content: center;
  margin-left: 10px;
}

#dropdown-content {
  display: none;
  z-index: 1;
  position: absolute;
  background-color: white;
  width: 100%;
  border: 1px solid black;
}

#dropdown-down-arrow {
  width: 25px;
  margin-right: 10px;
}

#listings-container>div {
  margin: 0 auto;
}

#header {
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-items: center;
}

#header>img {
  grid-column-start: 2;
  justify-self: center;
  cursor: pointer;
}

#header-menu-container {
  display: flex;
  grid-column-start: 3;
  justify-self: end;
  align-items: center;
}

#header-menu-container>p {
  margin-right: 15px;
  margin-top: revert;
  font-weight: 500;
}

#header-menu {
  --size: 25px;
  border-radius: 25px;
  height: var(--size);
  width: var(--size);
  background-color: black;
  cursor: pointer;
}

#filter-button {
  margin-top: 10px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid black;
  transition: all 0.1s ease;
}

#filter-button:hover {
  background-color: lightgray;
}

#filter-dropdown {
  display: none;
  background-color: white;
  width: 100%;
  border: 1px solid black;
  position: absolute;
  z-index: 10;
}

#filter-button-container {
  position: relative;
}

.filter-option-button {
  background-color: lightgray;
  border-radius: 6px;
  margin: 5px;
  padding: 5px;
  transition: all 0.1s ease;
  user-select: none;
}

.filter-option-button>input {
  pointer-events: none;
}

.filter-option-button:hover {
  background-color: gray;
}

.notChosen {
  opacity: 0.5;
}

#mini-basket {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f6f6f6;
  box-shadow: 0 -2px 5px #d6d6d6;
}

#mini-basket>button {
  margin-left: 10px;
  margin-right: 10px;
}

.button {
  border-radius: 0.25rem;
  text-align: center;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: none;
  height: 40px;
  padding: 10px;
  font-weight: 400;
}

.button:disabled {
  color: grey;
  background-color: white;
}

.checkout-button {
  background-color: #c39e4e;
  border-color: #c39e4e;
  flex-grow: 1;
  color: white;
  font-weight: 700;
}

#menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
}

.menu-item {
  border-top: 1px solid grey;
  padding: 30px;
  font-weight: 500;
}

#menu-items:last-child {
  border-bottom: 1px solid grey;
}

#menu-header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-header-item {
  font-size: 36px;
  font-weight: 600;
  padding: 15px;
}

.input-container {
  margin-bottom: 15px;
}

.input-container>p {
  margin-bottom: 0;
}

.input-box {
  border-radius: 5px;
  border: 2px solid gray;
  padding: 5px;
  width: 100%;
}

.input-box:focus-visible {
  outline: none;
  outline-color: #c39e4e;
  border-color: #c39e4e;
}

#error-user {
  color: red;
  font-weight: 600;
}

.item-container {
  position: relative;
  width: 350px;
}

.ukens-tilbud {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(195, 158, 78, 0.5);
  color: white;
  padding: 2px 5px;
  font-weight: thin;
  height: 30px;
  width: 350px;
}

.checkout-Container {
  margin: 15px;
  display: grid;
  justify-content: center;
}

.checkout-page-align-grid {
  display: grid;
  margin-top: 10px;
  justify-content: center;
}

.checkout-page-align-flex {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.checkout-page-align>input {
  margin: 5px;
}

.takeout-button {
  background-color: #c39e4e;
  border-color: #c39e4e;
  color: white;
  font-weight: 700;
}

.image-container {
  width: 350px;
  height: 230px;
}

.light-grey-rectangle {
  background-color: #d3d3d3;

  margin: 10px;
}

.order-containder {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  /* Ensures the container takes at least the full viewport height */
  padding-bottom: 20px;
  /* Adds some space below the rectangle for more content */
}

.register-button-container {
  position: fixed;
  bottom: 20px;
  /*Adjust height from bottom of the page*/
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.order-confirmed-display {
  display: flex;
  justify-content: space-between;
  padding-right: 12px;
}

.basketContainer {
  border: solid black 5px;
}

.basketItemContainer {
  display: flex;
  justify-content: center;
}

.topping-button {
  border-radius: 50%;

  background-color: #c39e4e;

  color: white;
  width: 25px;
  height: 25px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin-right: 5px;
  margin-left: 5px;
  transform: scale(1.0);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);

}

.topping-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.topping-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.topping-input-field {
  width: 15px;
  margin: 0 5px;
}

.topping-name {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
}

.topping-controls {
  justify-content: space-around;
  width: 100%;
  margin-left: 15px;
}

.topping-element {
  display: flex;
  margin-top: 8px;
}

.topping-image {
  width: 200px;
  margin-right: 25px;
  margin-bottom: 12px;
  height: auto;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

#user {
  position: absolute;
  right: 50px;
  width: 25px;
}

.topping-summary-and-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

}

.basket-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basket-buttons-container>input {
  margin: 15px
}


.basket-buttons {
  margin-top: 5px;

}

.topping-choice-centering {
  justify-content: center;

}